g@model List<StudentManagementSystem.Models.Facuilty>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
    <thead>
        <tr>
            <th>Facuilty</th>
            <th>Courses</th>
        </tr>
    </thead>


<tbody>

    @foreach (var faculty in Model)
    {
        <tr>
        <td>@faculty.FacuiltyName</td>

        @foreach (var course in faculty.courses)
        {
                    <td>@course.Name, </td>
        }
        </tr>
       <th></th>




    }
</tbody>
</table>
  
<a href="Facuilty/add">Add Facuitly</a>